.title-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #E2E2E2;
}
.item-label_16 {
  font-size: 16px;
  font-weight: 600;
}
.item-label_14 {
  font-size: 14px;
  font-weight: 600;
  vertical-align: top;
}
.text-blue {
  color: #386ed3;
  font-weight: normal;
}
.line {
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 12px;
  background-color: #e1e1e1;
  vertical-align: middle;
}